.profile {
  padding: 71px 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  /* height: 100%; */
}

.profile__title {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 123px;
}

.profile__form {
  display: flex;
  flex-direction: column;
}

.profile__element {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 410px;
  white-space: nowrap;
}

.profile__input {
  width: 100%;
  border: none;
  background-color: #202020;
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  right: 0;
}

.profile__input:focus {
  outline: none;
}

.profile__element:first-child {
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
  margin-bottom: 19px;
}

.profile__button-container {
  display: flex;
  flex-direction: column;
}

.profile__edit-button {
  background-color: #202020;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 220px auto 16px;
  padding: 0;
  width: 100%;
}

.profile__button-exit {
  color: #ee3465;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin: auto;
  width: 100%;
  border: none;
  background-color: #202020;
  text-decoration: none;
}

.profile__button-save {
  width: 410px;
  height: 45px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 3px;
  background: #3456f3;
  border: none;
  margin: 223px 0 0 0;
}

.profile__edit-button:hover,
.profile__button-exit:hover,
.profile__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__button-save:disabled {
  background: #f8f8f8;
  color: #c2c2c2;
}

@media (max-width: 768px) {
  .profile {
    padding: 230px 0 269px;
  }

  .profile__title {
    margin: 0 0 96px;
  }

  .profile__edit-button {
    margin: 213px auto 14px;
  }
}

@media (max-width: 500px) {
  .profile {
    padding: 67px 0 40px;
  }

  .profile__title {
    margin: 0 0 80px;
  }

  .profile__element {
    font-weight: 500;
    width: 260px;
  }

  .profile__edit-button {
    font-size: 12px;
    margin: 379px auto 15px;
  }

  .profile__button-exit {
    font-size: 12px;
  }

  .profile__button-save {
    width: 260px;
    font-size: 12px;
    margin: 379px 0 0 0;
  }
}
