.promo {
    padding: 20px 40px 0;
    display: flex;
    /* margin: auto; */
}

.banner {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap: 151px;
    background-color: #272727;
    margin: auto;
    padding: 160px 235px 30px;
    border-radius: 10px;
}

.banner__title {
    margin: auto;
    padding: 0;
    color: #FFF;
    max-width: 730px;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -2px;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.banner__element {
    display: flex;
    width: 96px;
    height: 36px;
    border-radius: 10px;
    background: #303030;
}

.banner__element:hover {
    opacity: 0.7;
    cursor: pointer;
}

.banner__link {
    text-decoration: none;
    margin: auto;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;
}

@media (max-width: 920px) {
    .banner {
        padding: 350px 100px 30px;
    }
  }

@media (max-width: 768px) {
    .promo {
        padding: 20px 20px 0 20px;
    }
    .banner {
        max-width: 728px;
        gap: 314px;
        padding: 350px 24px 30px;
    }
    .banner__title {
        max-width: 680px;
        font-size: 40px;
        line-height: 1.3;
        letter-spacing: -1.6px;
    }
  }

  @media (max-width: 400px) {
    .banner {
        padding: 220px 5px 20px;
    }

    .banner__title {
        font-size: 32px;
    }

    .banner__element {
        width: 86px;
        height: 30px;
    }

    .navigation-list {
        gap: 6px;
    }
  }

  @media (max-width: 320px) {
    .promo {
        padding: 12px 14px 0 14px;
    }
    .banner {
        max-width: 292px;
        gap: 212px;
        padding: 220px 0px 17px;
    }
    .banner__title {
        max-width: 292px;
        font-size: 29px;
        line-height: 1.28;
        font-weight: 400;
    }

    .banner__element {
        width: 82px;
        height: 26px;
        border-radius: 6px;
    }
    
    .banner__link {
        font-size: 10px;
        font-style: normal;
        line-height: 1.6;
    }
  }