.search {
  padding: 79px 70px 10px;
  margin: auto;
}

.search__form {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-bottom: 40px;
  margin: 0 auto;
  border-bottom: solid 1px #424242;
}

.search__form-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.search__input {
  display: flex;
  box-sizing: border-box;
  padding: 16px 20px;
  width: 100%;
  max-width: 1086px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background: #2f2f2f;
  color: #8b8b8b;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1, 28;
}

.search__input:focus {
  outline: 1px solid #3DDC84 ;
}

.search__button {
  background-image: url(../../images/search.svg);
  border-radius: 6px;
  padding: 0;
  margin: 3px 0;
  width: 44px;
  height: 44px;
  border: none;
  flex-shrink: 0; /*запрещает сжиматься flex-элементу*/
}

.search__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search {
    padding: 76px 30px 10px;
  }

  .search__form {
    padding-bottom: 40px;
    gap: 38px;
  }

  .search__input {
    padding: 20px;
    height: 50px;
  }
}

@media (max-width: 500px) {
  .search {
    padding: 76px 14px 10px;
  }

  .search__border-bottom-line {
    min-width: 292px;
  }

  .search__form {
    padding-bottom: 40px;
    gap: 48px;
  }

  .search__input {
    padding: 12px;
    height: 44px;
  }

  .search__button {
    margin: 0;
  }
}
