.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  height: 100%;
  max-width: 100%;
}

.login__container {
  display: flex;
  flex-direction: column;
  width: 396px;
}

.login__logo-link {
  margin-bottom: 37px;
}

.login__title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 40px;
}

.login__form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login__form-item {
  display: flex;
  flex-direction: column;
  color: #8b8b8b;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__form-input {
  border: none;
  border-radius: 8px;
  background: #2f2f2f;
  padding: 15px;
  margin: 10px 0 0;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__form-input:focus {
  outline: 1px solid #3DDC84 ;
}

.login__form-span {
  color: #ee3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0 0 0;
}

.login__form-button {
  border-radius: 3px;
  background: #4285f4;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 396px;
  height: 45px;
  flex-shrink: 0;
  border: none;
  margin: 158px 0 16px;
}

.login__form-button:disabled {
  background: #f8f8f8;
  color: #c2c2c2;
}


.login__form-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.login__text {
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.login__link {
  color: #4285f4;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin: 0 0 0 6px;
}

.login__link:hover,
.login__logo-link:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width:768px) {
  .login {
    padding: 232px 0;
  }
}

@media (max-width: 500px) {
  .login {
    padding: 56px 30px 30px 30px;
  }
  .login__container {
    width: 260px;
  }
  .login__logo-link {
    text-align: center;
    margin-bottom: 45px;
  }

  .login__title {
    text-align: center;
    margin: 0 0 80px;
  }

  .login__form-button {
    width: 260px;
    font-size: 12px;
    margin: 248px 0 14px;
  }

  .login__text {
    font-size: 12px;
  }

  .login__link {
    font-size: 12px;
  }
}
